<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calculadora</title>
        <link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="../css/styles.css" />
        <script src="../js/jquery.min.js"></script>
        <script src="../js/scripts.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="outline">
                <div class="display">
                    <div class="disp-cont">
                        <p class="output">86</p>
                        <p class="history">9 x 9 + 5 ÷ 1</p>  
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="button">
                            <button type="submit">7</button>
                        </div>
                        <div class="button">
                            <button type="submit">8</button>
                        </div>
                        <div class="button">
                            <button type="submit">9</button>
                        </div>
                        <div class="button">
                            <button type="submit">÷</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button">
                            <button type="submit">4</button>
                        </div>
                        <div class="button">
                            <button type="submit">5</button>
                        </div>
                        <div class="button">
                            <button type="submit">6</button>
                        </div>
                        <div class="button">
                            <button type="submit">x</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button">
                            <button type="submit">1</button>
                        </div>
                        <div class="button">
                            <button type="submit">2</button>
                        </div>
                        <div class="button">
                            <button type="submit">3</button>
                        </div>
                        <div class="button">
                            <button type="submit">-</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button">
                            <button type="submit">C</button>
                        </div>
                        <div class="button">
                            <button type="submit">0</button>
                        </div>
                        <div class="button">
                            <button type="submit">.</button>
                        </div>
                        <div class="button">
                            <button type="submit">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="equals">
                    <button type="submit">=</button>
                </div>
        </div>
    </body>
</html>